In [1]:
#Verify if a value is an integer

In [2]:
a=2

In [3]:
type(a)

int

In [4]:
#Verify if a value is even

In [5]:
a=3

In [6]:
a % 2 == 0

False

In [7]:
# Insert two numbers. Is the first is bigger than the second?

In [8]:
num1 = input ("primeiro numero")

primeiro numero12

In [9]:
type(num1)

str

In [10]:
num1=int(num1)

In [11]:
num2 = int(input("segundo numero"))

segundo numero5

In [12]:
num1>num2

True

In [13]:
#Verify if one value is multiple of another

In [42]:
num1 = 2
num2 = 4

In [43]:
num1 % num2 == 0

False

In [44]:
num1 % num2 == 0 or num2 % num1==0

True

In [16]:
#Calculate the interest earn by an investor that invested an amount of capital of 200 during three years

In [46]:
capital = 200
rate = 0.03
time = 3
interest=capital*rate*time

In [47]:
print(interest)

18.0

In [19]:
#Capital that an investor obtained after investing an amount of capital of 200 during three years

In [48]:
capitalAcum = capital*(1+rate)**time

In [49]:
print(capitalAcum)

218.5454

In [21]:
#Calculate your BMI (Body Mass Index)

In [1]:
M=60
H=1.57
BMI=M/(H**2)
print(BMI)

24.341758286340216

In [23]:
#Calculate the Golden ration:

In [24]:
print((1 + (5**(1/2)))/2)

1.618033988749895

In [25]:
#Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following

In [1]:
CF1 = 2000
CF2 = 3000
CF3 = 4000
CF4 = 4000
CF5 = 5000
rate = 0.1
I = 10000
NPV = ((CF1/(1+rate))+(CF2/(1+rate)**2)+(CF3/(1+rate)**3)+(CF4/(1+rate)**4)+(CF5/(1+rate)**5))-I

In [2]:
print (NPV)

3139.440301519393

In [5]:
CF1 = 2000
CF2 = 3000
CF3 = 4000
CF4 = 4000
CF5 = 5000
rate = 0.1
I = 10000
CF=[]
CF=[CF1, CF2, CF3,CF4, CF5]

In [6]:
CF

[2000, 3000, 4000, 4000, 5000]

In [4]:
#Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'

In [ ]:
#age = input ("qual a sua idade")
age = "22"
name = "Carlos"
dataNascimento

In [10]:
from datetime import date
#a=input("Diga o seu nome e a sua idade")
a = "22"
print(a)
today = date.today()
today.year-int(a)

22

1998

In [5]:
n = input ("insert your name")

insert your nameRita

In [6]:
x = int(input("insert your age"))

insert your age21

In [9]:
from datetime import date

In [13]:
today = date.today()

In [14]:
today.year

2020

In [18]:
a = today.year-x

In [34]:
print ("this person was born in "+str(a))

this person was born in 1999

In [35]:
#Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name

In [1]:
a = input('insert your forename')

insert your forenameRita

In [16]:
b= input('insert your surname')

insert your surname Santos

In [19]:
print( str( a ) + str( b))

Rita Santos

In [28]:
str.upper(a+b)

'RITA SANTOS'

In [29]:
str.lower(a+b)

'rita santos'

In [30]:
str.title(a+b)

'Rita Santos'

In [39]:
str.lower(b).capitalize()

' santos'

In [42]:
str.swapcase(a+b)

'rITA sANTOS'

In [44]:
str.islower(a)

False

In [46]:
str.isalpha(a)

True

In [53]:
#Use the following method to show in which character appears the first "da"

In [52]:
str.find('da')

TypeError: find() takes at least 1 argument (0 given)